---
import { Funnel, Search } from "@lucide/astro";
import { getCollection } from "astro:content";

interface Props {
  selectedCategory?: string;
}

const { selectedCategory } = Astro.props;
const categories = await getCollection("category");
---

{/* Controls */}
<div class="flex flex-col lg:flex-row gap-8 mb-2">
  <div class="flex items-center gap-4 overflow-x-auto pb-2 scrollbar-hide">
    <Funnel class="text-slate-400 hidden sm:block" size={20} />
    <a
      href={`/blog`}
      class={`px-5 py-2.5 rounded-xl whitespace-nowrap font-bold text-sm border transition-all ${
        !selectedCategory
          ? "bg-indigo-600 text-white shadow-lg shadow-indigo-100 dark:shadow-indigo-900/50"
          : "bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-200 border-slate-200 dark:border-slate-700 hover:border-indigo-300 dark:hover:border-indigo-400"
      }`}
    >
      Todos
    </a>
    {
      categories.map((cat) => (
        <a
          href={`/blog/categoria/${cat.id}`}
          class={`px-5 py-2.5 rounded-xl whitespace-nowrap font-bold text-sm border transition-all ${
            selectedCategory === cat.id
              ? "bg-indigo-600 text-white shadow-lg shadow-indigo-100 dark:shadow-indigo-900/50"
              : "bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-200 border border-slate-200 dark:border-slate-700 hover:border-indigo-300 dark:hover:border-indigo-400"
          }`}
        >
          {cat.data.title}
        </a>
      ))
    }
  </div>
</div>
