---
import BaseHead from "@/components/layout/BaseHead.astro";
import type { ImageMetadata } from "astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  seoProps: {
    title?: string;
    description?: string;
    type?: "website" | "article" | "product";
    image?: ImageMetadata;
  };
}

const {
  seoProps: { description, title, image, type },
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <ClientRouter />
    <BaseHead
      title={title}
      description={description}
      type={type}
      image={image}
    />
  </head>
  <body class="bg-slate-50 text-slate-900"
    ><slot />

    <script is:inline>
      const addYear = () => {
        try {
          const currentYear = new Date().getFullYear().toString();
          const yearElement = document.getElementById("year");
          if (yearElement) {
            yearElement.textContent = currentYear;
          } else {
            console.error("Element with id 'year' not found.");
          }
        } catch (error) {
          console.error("Error inserting current year:", error);
        }
      };

      document.addEventListener("astro:page-load", addYear);
      document.addEventListener("astro:after-preparation", addYear);
    </script>
  </body>
</html>
